* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 16px;
}

img {
    margin: 8px;
}

.text-container {
    margin: 8px;
    padding: 8px;
    float: right;
}

.img-and-list {
    display: inline-block;
    background-color: rgb(255, 199, 144);
    margin: 16px;
    padding: 8px;
}